*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

.a{

    width: 100vw;
    height: 100vw;
    background-color: rebeccapurple;

}
.b{
    width: 400px;
    background-color: #fff;
    padding: 24px;
    border: 1px solid#ddd;
    box-sizing: border-box;
    margin: 40px auto;
}   

.c{

   
    background-color:red;
    margin: 0 auto 16px;
    

}

h2{
    text-align: center;
    margin: 0 0 8px 0;
}

p{
    text-align: center;
    color: #ddd;
    margin: 0;
}

img {
    margin: 0 auto 0;
}